@font-face {
    font-family: Roboto;
    /* Имя шрифта */
    src: url(assets/fonts/RobotoRegular/RobotoRegular.ttf)
}

body {
    background: rgb(250, 250, 250);
    font-family: Roboto;
}

.header {
    background: #3366FF;
    text-align: center;
    color: #FFFF00;
    min-height: 20vh;
}

.header>div {
    margin-top: 8vh;
    font-size: 1.3em;
}

.main {}

.information {
    min-height: 50vh;
    border: #3366FF solid 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
}

.footer {
    background: #FFFF00;
    min-height: 10vh;
    margin-top: 20px;
    text-align: center;
    color: #3366FF;
}
.footer>div{
	margin-top: 4vh;
	font-size: 1.3em;

}